.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}


.Header_wrapper {
  background-color: black;
  height: 40px;
  width: 100%;
}

.Header {
 
}

.Header_delivery_text {
  color: white;
}