body {
  font-family: 'CoFo Sans Lamoda', sans-serif;
}

.app-wrapper {}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;

}


.header-wrapper {
  background-color: black;
  height: 40px;
  width: 100%;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}


.header-delivery {
  padding-left: 5px;
  display: flex;
  align-items: center;
  left: -18px;
  height: 40px;
  position: relative;
}


.header-delivery:hover {
  background-color: dodgerblue;
  transition: 0.5s ease;
}


.header-delivery__text {
  color: white;
  font-size: 13px;
  padding-right: 10px;
  letter-spacing: 0.1px;
  position: relative;
  left: -14;
  padding-left: 14px;
}


.header-link {
  display: flex;
}


.header-link__item:hover {
  background-color: dodgerblue;
  transition: 0.5s ease;
}


.header-link__item {
  position: relative;
  right: -14px;
  padding-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 40px;
  overflow: visible;
}


.header-link__text {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1px;
}


.header-link__item:hover .header-modal__none {
  display: block;
}


.header-modal__none {
  display: none;
  position: absolute;
  width: 230px;
  padding: 20px 24px;
  text-align: left;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  top: 100%;
  right: 0;
  background-color: white;
  z-index: 100;
}


.modal-text {
  font-size: 13px;
  color: black;
}


.modal-text_h {
  font-size: 13px;
  color: dodgerblue;
  font-family: sans-serif;
  padding-top: 5px;
}


.modal-text_h {
  &:hover {
    color: blue;
    font-family: sans-serif;
  }
}

.icon {
  color: white;
  align-items: center;
  margin: 0px 13px 0 10px;
}

/* ------Menu-------- */

.menu-wrapper {
  display: flex;
  justify-content: space-between;
}


.menu-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  /* padding: 0 20px; */
  height: 90px;
}


.menu-link {
  text-decoration: none;
  padding-bottom: 5px;
  margin-right: 20px;
  color: #888;
  border: 1.5px solid transparent;
  font-size: 16px;
}

/* .active-link {
  text-decoration: none;
  padding-bottom: 5px;
  margin-right: 20px;
  color: black;
  font-size: 13px;
  border:1.5px solid transparent;
}; */

/* .active-link:active {
  transition: color .2s linear;
  color: var(--secondaryLabelColor);
  border-bottom: 1.5px solid #000;

} */


.menu-link:hover {
  transition: color .2s linear;
  color: var(--secondaryLabelColor);
  border-bottom: 1.5px solid #000;
}

/* ---------logo--------- */

.logo {
  cursor: pointer;
}


.logo-text {
  color: black;
  font-size: 20px;
  font-family: revert;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 6px;
}

/* 
-------basket---------- */

.basket-wrapper {}

.basket-register {
  border: none;
  background-color: #fff;
  font-size: 16px;
  color: #888;
  padding-right: 21px;
  margin-left: 95px;
}


.basket-register:hover {
  transition: color .2s linear;
  color: var(--secondaryLabelColor);
  cursor: pointer;
}


.basket-icon {
  cursor: pointer;
  color: #888;
}


.basket-icon:hover {
  color: var(--secondaryLabelColor);
}


.basket {
  font-size: 16px;
  border: none;
  background-color: #fff;
  cursor: pointer;

}

/* -----naviganion-------- */

.navigation-wrapper {}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;
}

.navigation-item {
  height: 50px;
  display: flex;
  align-items: center;

}


.navigation-link__first {
  text-decoration: none;
  color: #000;
  padding: 0 6px 0 0;
  font-size: 16px;
  overflow: visible;
}

.navigation-link__first:hover .nav-none {
  display: block;
}

.navigation-link:hover .nav-none {
  display: block;
}

.navigation-link:hover {
  color: #888;
}

.navigation-link {
  text-decoration: none;
  color: #000;
  padding: 0 6px;
  font-size: 16px;
  overflow: visible;

}

.navigation-link__red {
  text-decoration: none;
  font-size: 16px;
  padding: 0 6px;
  color: red;
}

.nav-input {
  padding: 0 151px 0 22px;
  height: 40px;
  border: none;
  background-color: rgb(245, 243, 243);
  outline: none;
  border-radius: 4px;

}

.nav-input:hover {
  background-color: transparent;
  box-shadow: 0px 0px 6.5px 0px rgb(207, 204, 204);
  transition: .2s linear;
}


.nav-input__btn {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: #2796ff;
  padding: 10px 13px;
}

.nav-input__btn:hover {
  background-color: rgb(64, 64, 253);
}


.input-btn__text {
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  color: #fff;
}


.nav-none {
  display: none;
  z-index: 32;
  padding: 15px;
  position: absolute;
  top: 67px;
  right: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 6px 8px 0 rgb(0 0 0 / 16%);
  box-sizing: border-box;
}


.nav-none__wrapper {
  display: flex;
  flex-direction: column;
}

.nav-none__columns {
  display: flex;
  justify-content: space-between;
}

.nav-none__column {
  margin: 0 15px;
}


.nav-column__subtitle {
  text-decoration: none;
  color: black;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 8px;
  font-size: 13px;
}


.nav-column__title {
  display: flex;
  flex-direction: column;

}

.nav-column__link {
  text-decoration: none;
  color: black;
  padding: 8px 0;
  font-size: 13px;
}


.navigation-link__text {
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 8px;
  color: black;
}

/* ----Main----- */

.main-sale__content {
  padding-left: 42px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}


.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

figure {
  margin: 0 auto;
  padding: 0;
}


.main-sale {
  padding-right: 42px;
}

.main-slider {
  position: relative;
  margin: 0 auto;
}


.main-slider__img {
  height: 563px;
  width: 870px;
}

.main-slider__text {
  position: absolute;
  top: 273px;
  left: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-slider__subtitle {
  font-size: 90px;
  color: #fff;
}

.main-slider__title {
  font-size: 60px;
  color: #fff;
}

.main-slider__text--bottom {
  display: flex;
  flex-direction: column;
}


.main-section {
  padding-bottom: 38px;
}

.main-section__bottom {}


.main-section__img {
  width: 283px;
  height: 225px;
}

.main-section__text {
  display: flex;
  flex-direction: column;
}

.main-section__subtitle {
  color: black;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.main-section__title {
  color: #888;
  font-size: 24px;
}

/* -------footer------- */

.footer {
  padding: 30px 0px;
  background-color: rgb(234, 234, 234);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;

}


.footer-title {
  color: black;
  font-size: 13px;
  padding-bottom: 10px;
  font-weight: 700;
}


.footer-item {
  display: flex;
  flex-direction: column;
}


.footer-link {
  text-decoration: none;
  color: black;
  padding-bottom: 7px;
  font-size: 13px;
}


.footer-icon {}

.footer-icon__img {
  width: 25px;
  height: 25px;
  margin: 10px 6px 10px 0;

}


.footer-item__link {
  display: flex;
  flex-direction: column;
}



.footer-link__subtitle {
  font-size: 13px;
  font-weight: 700;
  padding: 10px 0 10px 0;
}


.footer-icon__card {
  width: 43px;
  height: 31px;
  padding-top: 7px;
}


.footer-card__text {
  padding-top: 10px;
  width: 250px;
  font-size: 13px;
  cursor: pointer;
}


.footer-pay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}



.footer-icon__pay {
  width: 85px;
  height: 25px;
  color: white;
  background-color: black;
  margin-top: 10px;
}


.footer-line {
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  padding: 20px;
}

.footer-country {}

.footer-country__icon {
  color: black;
}

.footer-country__text {
  font-size: 13px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.copy {
  padding: 20px;
  display: flex;
  justify-content: end;
}

.copy-icon {
  width: 22px;
  height: 22px;
}

.copy-text {
  padding-left: 10px;
}

// ----------------------store-------------------------------



.swiper-wrapper {
  display: flex;
  padding: 10px 0 20px 0;

  .swiper-slider {
    font-size: 12px;
  }

  .swiper-slider::after {
    content: "/";
    margin: 0 8px;
    color: #888;
  }

  .swiper-slider:last-child::after {
    content: '';
  }

  .swiper-slider__text {
    text-decoration: none;
    color: #888;
  }

  :hover {
    cursor: pointer;
    color: black;
  }
}

.collection-wrapper {
  padding-bottom: 15px;
}


.collection-subtitle {}


.collection-subtitle__text {
  color: black;
  font-size: 24px;
}


.collection-main {

  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.collection-navigation {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  position: sticky;
  top: 0;
  height: 250px;

}

.collection-link {
  padding: 6px 25px 6px 7px;
  width: 160px;
  margin-bottom: 10px;
  height: 18px;
}

.collection-link:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.collection-link__text {
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}



.collection-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px 5px;
  padding: 25px 0 25px;
}

.catalog-wrapper {
  border: 1px solid transparent;
  padding: 5px 5px 5px 5px;
}

.catalog-wrapper:hover {
  box-shadow:  5px 10px 18px #b6b6b6;
  padding: 5px 5px 5px 5px;
  border: 1px solid transparent;
  border-radius: 1px;
  background-color: white;
  transition: all 0s 0s;

}

.catalog-gallery {
  
}

.catalog-gallery__item {
  width: 238px;
  height: 342px;

}

.catalog-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.catalog-subtitle {
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 0;
}

.catalog-title {
  font-size: 13px;
  text-decoration: none;
  color: black;

}



.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 150px 0;
}


.notFoundPage-oops {
font-size: 128px;
font-weight: 800;
color: rgb(130, 85, 203);
// color: rgb(156, 85, 203);
text-align: center;
margin: 0;
}

.notFoundPage-text {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  text-align: center;
  margin: 6px 0;
}

.notFoundPage-description {
  width: 343px;
  font-size: 13px;
  color: black;
  text-align: center;
  margin: 15px 0 22px;
}

.notFoundPage-btn {
    border: none;
    padding: 13px;
    border-radius: 29px;
    background-color: rgb(39, 154, 224);
}

.notFoundPage-btn:hover {
  color: black;
  background-color: rgb(41, 133, 232);
  cursor: pointer;

}

.notFoundPage-link {
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  color: white;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.active {
  color: black;
  border-bottom: 1px solid black;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}