body {
  font-family:A 'CoFo Sans Lamoda',sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}


.header-wrapper {
  background-color: black;
  height: 40px;
  width: 100%;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}


.header-delivery {
  padding-left: 14px;
  display: flex;
  align-items: center;
  height: 40px;
}


.header-delivery:hover {
  background-color: dodgerblue;
  transition: 0.5s ease;
}


.header-delivery__text {
  color: white;
  font-size: 13px;
  padding-right: 10px;
  letter-spacing: 0.1px;
}


.header-link {
  display: flex;
}


.header-link__item:hover {
  background-color: dodgerblue;
  transition: 0.5s ease;
}


.header-link__item {
  position: relative;
  right: -14px;
  padding-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 40px;
  overflow: visible;     
}


.header-link__text {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1px;
}


.header-link__item:hover  .header-modal__none{
  display: block;
}


.header-modal__none {
  display: none;
  position: absolute;
  width: 230px;
  padding: 20px 24px;
  text-align: left;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  top: 100%;
  right: 0;
  background-color: white;
}


.modal-text {
  font-size: 13px;
  color: black;
}


.modal-text_h {
  font-size: 13px;
  color: dodgerblue;
  font-family: sans-serif;
  padding-top: 5px;
}


.modal-text_h:hover {
  color: blue;
  font-family: sans-serif;
}


.icon{
  color: white;
  align-items: center;
  margin: 0px 13px 0 10px;
}

/* ------Menu-------- */

.menu-wrapper {
  display: flex;
  justify-content: space-between;
}


.menu-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 20px;
  height: 90px;
}


.menu-link {
  text-decoration: none;
  padding-bottom: 5px;
  margin-right: 20px;
  color: #888;
  border: 1.5px solid transparent;
  font-size: 16px;
}

/* .active-link {
  text-decoration: none;
  padding-bottom: 5px;
  margin-right: 20px;
  color: black;
  font-size: 13px;
  border:1.5px solid transparent;
}; */

/* .active-link:active {
  transition: color .2s linear;
  color: var(--secondaryLabelColor);
  border-bottom: 1.5px solid #000;

} */


.menu-link:hover {
  transition: color .2s linear;
  color: var(--secondaryLabelColor);
  border-bottom: 1.5px solid #000;
}

/* ---------logo--------- */

.logo {
  cursor: pointer;
}


.logo-text {
  color: black;
  font-size: 20px;
  font-family: revert;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 6px;
}
/* 
-------basket---------- */

.basket-wrapper {

}

.basket-register {
  border: none;
  background-color: #fff;
  font-size: 16px;
  color: #888;
  padding-right: 21px;
  margin-left: 95px;
}


.basket-register:hover {
  transition: color .2s linear;
  color: var(--secondaryLabelColor);
  cursor: pointer;
}


.basket-icon {
 cursor: pointer;
 color: #888;
}


.basket-icon:hover {
  color: var(--secondaryLabelColor);
}


.basket {
  font-size: 16px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  
}

/* ----Main----- */

.main {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 50px 20px;
}

figure {
  margin: 0 auto;
  padding: 0;
}


.main-sale {
  padding-right: 22px;
}

.main-slider {
  position: relative;
  margin: 0 auto;
}


.main-slider__img {
  height: 563px;
  width:  870px;
}

.main-slider__text{
  position: absolute;
  top: 273px;
  left: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-slider__subtitle {
  font-size: 90px;
  color: #fff;
}

.main-slider__title {
  font-size: 60px;
  color: #fff;
}

.main-slider__text--bottom {
  display: flex;
  flex-direction: column;
}


.main-section {
  padding-bottom: 38px;
}

.main-section__bottom {

}


.main-section__img {
  width: 283px;
  height: 225px;
}

.main-section__text {
  display: flex;
  flex-direction: column;
}

.main-section__subtitle {
  color: black;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.main-section__title {
  color: #888;
  font-size: 24px;
}